<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kmrad.e_kartaciazy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WyborBadan"
            android:label="Wybierz rodzaj badania" />
        <activity
            android:name=".DodajBadanie"
            android:label="Dodaj nowe badanie" />
        <activity
            android:name=".WywiadGinekologiczny"
            android:label="Wywiad położniczo-ginekologiczny" />
        <activity
            android:name=".WywiadRodzinny"
            android:label="Wywiad rodzinny" />
        <activity
            android:name=".PrzegladBadan"
            android:label="Przegląd i dodawanie badań" />
        <activity
            android:name=".WidokBadaniaWykonanego"
            android:label="Szczegóły badania" />
        <activity android:name=".BadaniaDodatkowe"
            android:label="Badania dodatkowe"></activity>
    </application>

</manifest>